@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body{
    background-color: black;
}
*{
    margin: 0;
    padding: 5px;
}
.abd img{
    height: 200px;
    width: 150px;
    padding-left: 150px;
}

.bname{
    padding-left: 60px;
    color: white;
    font-family: "Bree Serif";
}
.bauth{
    padding-left: 155px;
    color: gray;
    font-family: "Bree Serif";
}
.bplot{
    color: white;
    font-family: "Bree Serif";
}
.b1{
    margin-left: 150px;
    background-color: yellow;
}
.b2{
    background-color: blue;
}