@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
*{
    
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.store-card{
    background-color: black;
    height: 100vh;
    padding: 15px;
}
h1{
    color: white;
}
.apj-card{
    background-color: white;
    display: flex;
    border-radius: 17px;
    width: 600px;
}
.new{
    background-color: black;
    display: flex;
    border-radius: 17px;
}
.new1{
    background-color: black;
    display: flex;
    border-radius: 17px;
}
.apj-content{
    padding: 10px;
    width: 500px;
    font-family: "Bree Serif";
}
.apj-card img{
    height: 300px;
    width: 250px;
    border-top-left-radius: 17px;
}
.new img{
    height: 300px;
    width: 250px;
    border-top-left-radius: 17px;
}
.new1 img{
    height: 300px;
    width: 250px;
    border-top-left-radius: 17px;
}
.book-name{
    color: rgb(76, 76, 245);
}
.book-type{
    color: rgb(4, 4, 84);
}
.book-author{
    color: rgb(36, 163, 222);
}
.name{
    color: white;
}
.type{
    color: white;
}
.author{
    color: white;
}
button{
    background-color:blue;
    padding: 7px;
}
a{
    text-decoration: none;
}